node_modules/
.cache/
.git/
.gitignore
.gitattributes
.github/

reports/
cypress/screenshots/
cypress/videos/
cypress/downloads/

.env*
!.env.example

*.md
LICENSE
Dockerfile
docker-compose.yml
.dockerignore
.gitkeep

.eslintrc.json
.prettierrc

.DS_Store
*.log
npm-debug.log*
